.main {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.main-carousel {
  display: flex;
  margin-bottom: 31px;
}

.carousel-box {
  width: 378px;
  height: 382px;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
  margin-right: 37px;
}

.carousel-box:nth-child {
  margin-right: 0;
}

.box-img {
  padding-top: 18px;
  padding-left: 26px;
  padding-right: 27px;
  padding-bottom: 13px;
}

.box-header {
  width: 325px;
  height: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3E3F75;
  padding-left: 26px;
  padding-right: 27px;
  padding-bottom: 13px;
}

.box-content {
  width: 329px;
  height: 126px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #3E3F75;
  padding-left: 22px;
  padding-right: 27px;
  padding-bottom: 29px;
}

.button-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.button-tokens {
  width: 125px;
  height: 38px;
  background: #3F4076;
  border-radius: 9px;
}

.tokens-link {
  width: 105px;
  height: 43px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #D9DDF0;
  text-decoration: none;
}

.button-validator {
  width: 173px;
  height: 38px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
}

.validator-link {
  width: 167px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3E3F75;
  text-decoration: none;
}

.button-exchange {
  width: 111px;
  height: 38px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
}

.exchange-link {
  width: 95px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3E3F75;
  text-decoration: none;
}

.button-nft {
  width: 86px;
  height: 38px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
}

.nft-link {
  width: 55px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3E3F75;
  text-decoration: none;
}

.button-users {
  width: 188px;
  height: 39px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
}

.users-link {
  width: 177px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3E3F75;
  text-decoration: none;
}

.button-developers {
  width: 183px;
  height: 39px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
}

.developers-link {
  width: 177px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3E3F75;
  text-decoration: none;
}

.button-defi {
  width: 167px;
  height: 38px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px
}

.defi-link {
  width: 177px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3E3F75;
  text-decoration: none;
}

.search {
  width: 100%;
  margin-bottom: 18px;
}

.search__group {
  display: block;
}

.search__hint {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.search__field-box {
  position: relative;
}

.search__field {
  width: 100%;
  height: 35px;
  border: 0;
  background: #D6DAED;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4, inset 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035);
  border-radius: 9px;
}

.search__field::-webkit-input-placeholder { 
  color: #3F4076;
  padding: 16px 20px 16px 45px;
}

.search__field::-moz-placeholder { 
  color: #3F4076;
  opacity: 1;
}

.search__field:focus {
  background-color: #D6DAED;
  padding: 16px 20px 16px 45px;
  color: #6441a5;
  outline: none;
}

.search__field:focus::-webkit-input-placeholder { 
  padding: 16px 20px 16px 45px;
  color: #6441a5;
}

.search__field:focus::-moz-placeholder { 
  padding: 16px 20px 16px 45px;
  color: #6441a5;
}

.search__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
}

.search__icon {
  color: #3F4076;
}

.search__field:focus + .search__icon {
  color: #3F4076; 
}  



.review {
  width: 553px;
  height: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #3E3F75;
}

.onoffswitch {
    position: relative; 
    width: 50px;
    top: -25px;
    left: 479px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 17px; 
    padding: 0; 
    line-height: 17px;
    font-size: 12px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 6px;
    background-color: #3F4076; color: ;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 6px;
    background-color: #D6DAED; 
    color: ;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 17px; 
    margin: 0px;
    background: #D6DAED;
    background-image: url(../svg/del.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 29px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.captilization-item {
  margin-bottom: 15px;
}

.captilization {
  width: 994px;
  height: 23px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #3E3F75;
}

.capitalization-number {
  width: 994px;
  height: 23px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #3562F6;
}

.changes-item {
  margin-bottom: 26px;
}

.changes {
  width: 536px;
  height: 23px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #3E3F75;
}

.changes-number {
  width: 536px;
  height: 23px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #00891E;
}

.by-item {
  width: 177px;
  height: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #3E3F75;
  margin-bottom: 37px;
  padding-left: 10px;
}

.leader-title {
  display: flex;
  justify-content: space-between;
}

.by-coin {
  display: flex;
  box-sizing: border-box;
  width: 204px;
  height: 43px;
  border: 0;
  background: #D6DAED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
  margin-bottom: 13px;
}

.by-coin:last-child {
  margin-bottom: 33px;
}

.img-by-coin {
  position: relative;
  top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.by-coin-info {
  display: flex;
  flex-wrap: wrap;
}

.name-coin {
  width: 170px;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #3E3F75;
  padding-top: 3px;
}

.swap {
  width: 148px;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #3E3F75;
  padding-bottom: 3px;
}

.text-ifo {
  margin-bottom: 20px;
}

.place-text {
  width: 54px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 45px;
}

.name-token-text {
  width: 149px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 44px;
}

.reserve-text {
  width: 62px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 34px;
}

.crr-text {
  width: 36px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 32px;
}

.price-text {
  width: 45px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 48px;
}

.emission-text {
  width: 147px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 38px;
}

.emission-max-text {
  width: 127px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 20px;
}

.deligation-text {
  width: 127px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
  margin-right: 21px;
}

.wallet-text {
  width: 90px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3E3F75;
}

.token-ifo-api {
  width: 1124px;
  height: 46px;
  border: 0;
  background: #D6DAED;
  box-shadow: 1.54714e-15px 25.2667px 50.5333px rgba(43, 44, 47, 0.1035), inset -3.47246e-16px -5.67096px 5.67096px #CED2E4, inset 3.47246e-16px 5.67096px 5.67096px #DDE1F4;
  border-radius: 9px;
}








